.imgstyle {
    border: chocolate;
    width: 208%;
    height: 700px
}
.imglist {
    border-radius: 45px;
    background-repeat: repeat;
    padding: 5px;
    width: 100% !important;
    height: 90% !important;
    
}
.tdwidth{
    width:20%!important;
}
.trwidth {
    width: 100% !important;
}
