.imgstyle {
    border: chocolate;
    width: 208%;
    height: 700px
}
.container{
    width:100%;
}
.imglist {
    border-radius: 45px;
    background-repeat: repeat;
    padding: 5px;
    width: 100% !important;
    height: auto;
}

.panel-primary {
    border-color: black;
}

    .panel-primary > .panel-heading {
        color: #fff;
        background-color: black;
        border-color: black;
    }

.table > tbody > tr.active > td {
    background: darkgray;
    color: #fff;
}

.tdwidth {
    width: 20% !important;
}

.trwidth {
    width: 100% !important;
}

ul {
    list-style: none;
}

#wrapper {
    z-index: 1000;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
  
    height: 100%;
    width: 100%;
}

.box {
    position: fixed;
    display: flex;
    justify-content: left;
    width: 100%;
}

